
body{
background-image: url("http://www.downloadclipart.net/svg/37301-simple-blue-background-vector.svg");
}


#doc{
 background-color: #005cbf;
     border-radius: 3px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    margin-right: 5px;
    cursor: pointer;
    font-size: 12px;
}
#ser{
    background-color: #005cbf;
    border-radius: 3px;
    color: white;
    padding: 15px 32px;
    margin :auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;

}
